<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Quantum.Canon" version="0.5.1904.1302" targetFramework="net472" />
  <package id="Microsoft.Quantum.Development.Kit" version="0.13.20102604" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>