<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExcelSqlAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelSqlAddIn.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=SQLSRV;Initial Catalog=TestMappe;Persist Security Info=True;User ID=SqlAdmin;Password=cfm56-7B26</value>
            </setting>
            <setting name="SqlTransferred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlUserID" serializeAs="String">
                <value>SqlAdmin</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>cfm56-7B26</value>
            </setting>
            <setting name="SqlDataSource" serializeAs="String">
                <value>SQLSRV</value>
            </setting>
        </ExcelSqlAddIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
